* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
    background-color: #E5E5E5;
}

.app {
    width: 550px;
    margin: auto;
    background-color: white;
}

nav {
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    color: white;
}

.nav--title {
    display: flex;
    align-self: center;
}

.nav--logo {
    width: 31px;
    height: 26px;
    align-self: center;
    margin-right: 7px;
}

.nav--h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: -0.1em;
}

.nav--subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    align-self: center;
}

.contents {
    margin: 36px;
}

form {
    display: flex;
    flex-direction: column;
}

.meme--inputs {
    display: flex;
    justify-content: space-between;
}

.meme--input {
    width: 230px;
    height: 35px;
    margin-bottom: 15px;
    border: solid #D5D4D8 1px;
    border-radius: 5px;
    padding: 11px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
}

.meme--submit {
    width: 480px;
    height: 40px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.05em;
    border: none;
}

.meme--img {
    width: 100%;
    border-radius: 2px;
    margin: 36px auto 50px auto;
}